.form-card {
    max-width: 65%;
    margin: 0 auto;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    border-radius: 5px;
}

.btn-primary {
    margin-top: 2%;
    font-size: 16px;
    border-radius: 5px;
}

.custom-input {
    border: 2px solid #ced4da;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}